__pycache__/
.env
.DS_Store
test_*.py
file.txt
*.csv
*.json
*.yaml
*.yml
*.db
*.db.sqlite3
*.db.sqlite3-shm
*.db.sqlite3-wal
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw
*.zip
*.tar
*.gz
*.whl
*.egg
.vscode
*.key
*.crt
*.cer
*.p12
*.pfx
*.asc
*.pub
*.der
*.cer
*.p7b
cordguard_queue.pickle
temp/*
temp/
test_samples/